.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subContainer {
  display: flex;
  flex-direction: row;
}

.selectedContainer {
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 300px;
  margin-bottom: 30px;
}

.submitButton {
  height: 30px;
  width: 200px;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  display: inline-block;
  border: solid 1px;
  border-color: black;
}

.leagueContainer {
  display: flex;
  flex-direction: row;
}

.small {
  height: 120px;
  width: 120px;
  border: solid 1px;
  border-color: black;
  margin: 15px;
}

.small:hover {
  height: 125px;
  width: 125px;
  border: solid 2px;
  border-color: #0000ff;
  margin: 10px auto 15px;
}

.big {
  height: 300px;
  width: 300px;
  border: solid 1px;
  border-color: black;
  margin: 5px;
}
