<div class="container">
  <div class="subContainer">
    <img class="big" [src]="myTeam" />
    <div class="submitButtonContainer">
      <a routerLink="/select-pitcher"
        ><button class="submitButton">決定</button></a
      >
    </div>
    <img class="big" [src]="otherTeam" />
  </div>
  <div class="optionContainer">
    <div class="leagueContainer">
      <img
        class="small"
        [src]="path"
        *ngFor="let path of pacificList"
        tabindex="0"
      />
    </div>
    <div class="leagueContainer">
      <img
        class="small"
        [src]="path"
        *ngFor="let path of centralList"
        tabindex="0"
      />
    </div>
  </div>
</div>
